body{
    background: linear-gradient(180deg, #d159ee 0%, #4e2055 100%);
    /*background-color: rgb(123, 32, 146);*/
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 100%;
    color: white;
    font-family: "Renju";
   /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRe_k6gWznLD6JLhmnA4y1MpGWdZGVg1-P2Bg&s);*/
    background-size: 100% auto;
    background-position: center;
    background-repeat: auto;
    /* background-size: contain; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
@font-face{
    font-family: '4-font';
    src: url("/fonts/4-font") format('ttf')
}
/* body::after{
    content: '';
    width: 100%;
    height: 1px;
} */
/*body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);*/ /* Полупрозрачный черный слой */
    /* z-index: 1;*/  /* Размещаем псевдоэлемент поверх фонового изображения }
    background-color: rgba(118, 107, 107, 0.3);*/


body * {
    position: relative;
    z-index: 2; /* Элементы внутри body будут находиться над затемнением */
}
header{
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 1px 1px 30px black;
    border-bottom: 2px rgb(255, 255, 255) solid;
    text-align: center;
    /* background-color: rgb(186, 85, 211); */
    padding: 20px;
    background: linear-gradient(180deg, #3a183f 0%, #d159ee 100%,);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.header p{
    padding-right: 55%;
}
.head-elem{
    width: 50%;
}
.head-elem img{
    width: 50px;
}
.seti{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    letter-spacing: 2px;
}
a{
    text-decoration: none;
    color: white;
    margin: 0;
    width: 100%;
    max-height: 100%;
}
h1{
    text-align: center;
    text-shadow: 1px 1px 15px rgb(0, 0, 0);
    text-shadow: 1px 2px 30px rgb(0, 0, 0);
    font-size: 40px;
}
p{
    font-weight: bolder;
}
.head-foot-text{
    color: white;
    margin: 0;
    text-shadow: 1px 2px 30px rgb(0, 0, 0);
    font-size: 40px;
}
.menu{
    text-shadow: 0px 1px 8px rgb(0, 0, 0);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 100%;
    flex-direction: row;
    width: 100%;
    justify-content: start;
    /**/
}
.menu a{
    max-height: 150px;
}
.menu-button{
    background: linear-gradient(90deg, #a920cb 0%, #cf79e3 46.38%, #a920cb 100%);
    border: 1px rgb(255, 255, 255) solid;
     /*background-color: rgb(123, 32, 146);*/ 
    text-align: center;
    padding: 5px;
    font-size: 20px;
}
.form-button{
    border: 1px rgb(255, 255, 255) solid;
    background: linear-gradient(180deg, #a920cb 100%);
    text-align: center;
    padding: 5px;
    font-size: 20px;
}
.menu-button:hover, .form-button:hover{
    /*background-color: rgb(219, 112, 219);*/
    box-shadow: 1px 2px 15px rgb(255, 255, 255);
    background-color: rgb(102, 42, 109);
    transition-duration: 100ms;
}
@font-face{
    font-family: 'Renju';
    src: url("/fonts/Renju") format('otf')
}
.tovar{
    font-family:"Neucha", sans-serif !important;
    text-shadow: 1px 3px 30px rgb(0, 0, 0);
    letter-spacing: 2px;
    width: 275px;
    border: 1px rgb(255, 255, 255) solid;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(186, 85, 211);
    box-shadow: 1px 2px 15px rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin: 30px 70px;
}
.tovar h3, .tovar h4, .catalog h1{
    font-weight: bolder;
    text-align: center;
    font-size: 25px;
    text-shadow: 0px 1px 8px rgb(0, 0, 0);
    font-family: 'Renju';
    src: url("/fonts/Renju") format('otf');
    letter-spacing: 2px;
}
.tovar h4{
    text-shadow: 1px 1px 15px rgb(0, 0, 0);
}
.tovar button{
    font-size: 24px;
    color: white;
    background-color: rgb(151, 64, 172);
    border-radius: 5px;
    text-align: center;
    width: 50%;
}
#catalog-h1{
    margin-bottom: 0;
}
.all-content{
    /* display: flex;
    flex-direction: column;
    justify-content: start; */
    flex: 1;
}
.pre-osnova{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all ease 0.3s;
}
.osnova{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: row;
    border: 1px rgb(255, 255, 255) solid;
    box-shadow: 1px 2px 15px rgb(255, 255, 255);
    font-size: 20px;
    background-color: rgb(186, 85, 211);
    border-radius: 10px;
    transition: all ease 0.3s;
    
}
.in-osnova{
    width: 25%;
    border: 1px rgb(255, 255, 255) solid;
    box-shadow: 1px 2px 15px rgb(255, 255, 255);
    background-color: rgba(151, 62, 173, 0.735);
    padding: 20px;
    border-radius: 10px;
    transition: all ease 0.3s;
    height: 300px;
    overflow: hidden;
    
}
.in-osnova:hover{
    transform: scale(1.05);
    display: fixed;
    width: 30%;
    /* max-height: none; */
    height: 350px;
}
.in-osnova div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transition: all ease 0.3s;
}
.in-osnova h3{
    font-size: 30px;
    margin: 0;
    font-family:"Neucha", sans-serif !important;
    text-shadow: 1px 2px 30px rgb(0, 0, 0);
    letter-spacing: 2px;
    font-weight: 800;
    font-style: normal;
    text-align: center;
}
.in-osnova p{
    text-align: center;
    font-family:"Neucha", sans-serif !important;
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.514);
    letter-spacing: 2px;
    font-weight: 500;
    font-style: normal;
}
.catalog h1{
    font-size: 40px;
    text-shadow: 1px 2px 30px rgb(0, 0, 0);
    font-size: 40px;
}
.description{
    font-size: 20px;
    height: 50%;
    /* text-shadow: 1px 1px 50px rgb(0, 0, 0); */
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.514);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 10px;
}
footer{
    text-align: center;
    width: 100%;
    height: 150px;
    background-color: rgb(52, 24, 59);
    border-top: 1px white solid;
    box-shadow: 1px 2px 15px rgb(255, 255, 255);
    color: white;
}
footer p{
    padding: 10px;
}
.rasklad-input{
    margin: 10px;
    font-size: 18px;
    text-align: center;
    width: 350px;
    height: 30px;
    border-radius: 7px;
    border: 2px rgb(255, 255, 255) solid;
    background-color: transparent;
    color: white;
}
.rasklad-input::placeholder{
    color: white;
}
.forma{
    display: flex;
    justify-content: center;
}
.forma form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 1px rgb(255, 255, 255) solid;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 2px 15px rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.077);
}
.forma button{
    font-size: 24px;
    color: white;
    background-color: rgb(151, 64, 172);
    border-radius: 5px;
}
.all-tovars{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* .animation{
    transition: 
} */


@media screen and (max-width: 768px){
    .tovar{
        width: 80%;
        min-height: 420px;
    }
    .tovar h3, .tover h4{
        font-size: 30px;
    }
    .tovar .description{
        width: 90%;
        font-size: 25px;
    }
    .tovar button{
        width: fit-content;
        padding: 5px 10px;
        font-family: 'Neucha';
        letter-spacing: 2px;
        font-weight: 700;
        margin-bottom: 10px;
    }
}