.rasklad-layout{
    width: 100%;
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}
.rasklad-left{
    flex: 2;
    margin-right: 20px;
}
.rasklad-right{
    flex: 1;
    width: 100%;
}
.forma{
    width: 100%;
}
.forma form{
    width: 100%;
}
.rasklad-input{
    width: 100%;
    transition: background-color 0.3s ease;
}
form img{
    width: 200px;
    height: auto;
    transition: box-shadow 0.3s ease;
}
form img:hover{
    box-shadow: 1px 2px 15px rgb(255, 255, 255);
}
.chose-sex i{
    color: rgb(188, 188, 188);
    font-family: 'Arial';
}
.rasklad-right{
    width: 100%;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px rgb(255, 255, 255) solid;
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 15px rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.077);
}
.rasklad-right h4{
    font-size: 30px;
}
.description_ras{
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.vibor{
    text-align: center;
}
