.rasklad-layout{
    width: 100%;
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    align-items: center;
}
.rasklad-left{
    flex: 2;
    margin-right: 20px;
}
.rasklad-right{
    flex: 1;
    height: 100%;
    width: 100%;
}
.forma{
    width: 100%;
}
.forma form{
    width: 100%;
}
.rasklad-input{
    width: 90%;
}
form img{
    width: 200px;
    height: auto;
}
.rasklad-right{
    width: 100%;
    margin-top: 100px;
    height: 614px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 1px rgb(255, 255, 255) solid;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 2px 15px rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.077);
}
