{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'web/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/otzuvu.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/rasklad.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neucha&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">
    <style>
        .star{
            display: block;
            width: 25px;
            height: 25px;
            background-image: url('{% static 'web/img/empty_star.png' %}');
            background-size: 100%;
            transition: all 0.1s ease;
        }
        .for-click:hover{
            background-image: url('{% static 'web/img/fullfill_star.png' %}');
        }
        .filled{
            background-image: url('{% static 'web/img/fullfill_star.png' %}');
        }
    </style>
</head>
<body>
    <header>
        <div class="header">
            <div class="head-elem"><p class="head-foot-text">Tarot_li</p></div>
            <div class="head-elem seti">
                <div>Ссылки на соц. сети: </div>
                <div class="soc-set"><a href="https://t.me/tarot_lil" target="_blank"><img src="{% static 'web/img/telegram.png' %}"></a></div>
                <div class="soc-set"><a href="https://www.tiktok.com/@tarot_lil?_t=8oQxVuHzZk8&_r=1" target="_blank"><img src="{% static 'web/img/Tiktok.png' %}"></a></div>
                <div class="soc-set"><a href="https://www.instagram.com/tarot_li_?igsh=N3c5aXlpeWIzMG01&utm_source=qr" target="_blank"><img src="{% static 'web/img/instagram.png' %}"></a></div>
            </div>
        </div>
    </header>

    <div class="all-content">
        <div class="menu">
            <a href="{% url 'glavnaya' %}"><div class="menu-button">На главную</div></a>
            <a href="{% url 'catalog' %}"><div class="menu-button">Расклады</div></a>
            <a href="{% url 'rasklad' %}"><div class="menu-button">Заказать расклад</div></a>
            <a href="{% url 'otzuvu' %}"><div class="menu-button">Отзывы</div></a>
        </div>

        <div class="catalog">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    
    {% block footer %}{% endblock %}
    <link rel="stylesheet" href="{% static 'web/js/index.js' %}">
    <link rel="stylesheet" href="{% static 'web/js/otzuvu.js' %}">
    {% block scripts %}{% endblock %}
</body>
</html>