{% extends 'web/base.html' %}

{% block title %}Каталог{% endblock %}

{% block content %}
    <h1 id="catalog-h1">Каталог</h1>
    <div class="all-tovars">
    {% for rasklad in rasklads %}
        <div class="tovar">
            <h3>{{ rasklad.name }}</h3>
            <p class="description">{{ rasklad.description|linebreaksbr }}</p>
            <h4>{{ rasklad.price }} грн</h4>
            <button class="form-button"><a href="{% url 'rasklad' rasklad.id %}">Заказать</a></button>
        </div>
    {% endfor %}
    </div>
{% endblock %}