{% extends 'web/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1>Добро пожаловать!</h1>
    <div class="pre-osnova">
        <div class="osnova">
            <div class="in-osnova">
                <div>
                    <div><h3>Мой мир Таро!</h3></div>
                    <div><p> Я занимаюсь Таро уже более двух лет. Для меня это не просто карты, а инструмент познания себя и окружающего мира. Каждая карта несёт в себе глубокие символы и подсказки, которые помогают разобраться в жизненных ситуациях, понять свои истинные желания и найти гармонию. Мои расклады помогут вам принять важные решения, обрести уверенность в будущем и изменить свою жизнь к лучшему.</p></div>
                </div>
            </div>
            <div class="in-osnova">
                <div>
                    <div><h3>Ваш расклад — ваш личный ключ к истине!</h3></div>
                    <div><p>Каждый расклад — это уникальная история, раскрывающая скрытые аспекты ситуации. Вы выбираете тему, задаёте вопрос, а я анализирую карты и даю развёрнутый ответ. Все расклады проводятся бережно и с уважением к вашей энергетике. Таро помогает увидеть причины происходящего, осознать свои страхи и желания, а также выбрать наиболее благоприятный путь для достижения целей и внутренней гармонии.
                    </p></div>
                </div>
            </div>
            <div class="in-osnova">
                <div>
                    <div><h3>Откройте своё внутреннее «Я» через Таро</h3></div>
                    <div><p>Таро — это мощный инструмент самопознания, который помогает глубже понять свои эмоции, страхи и желания. С помощью карт я помогаю раскрыть скрытые возможности, преодолеть внутренние барьеры и найти верное направление в жизни. Расклады Таро позволяют заглянуть в будущее, увидеть перспективы и принять осознанные решения, которые приведут к успеху и душевному спокойствию.</p></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}<footer></footer>{% endblock %}