{% extends 'web/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1>Добро пожаловать!</h1>
    <div class="pre-osnova">
        <div class="osnova">
            <div class="in-osnova">
                <div>
                    <div><h3>Добро пожаловать в мир Таро!</h3></div>
                    <div><p> Я занимаюсь Таро уже более двух лет. Для меня это не просто карты, а инструмент познания себя и окружающего мира. Я помогаю людям найти ответы на важные вопросы, осознать скрытые причины событий и лучше понять свою жизнь.</p></div>
                </div>
            </div>
            <div class="in-osnova">
                <div>
                    <div><h3>Ваш расклад — ваш личный ключ к истине!</h3></div>
                    <div><p>Каждый расклад — это уникальная история, раскрывающая скрытые аспекты ситуации. Вы выбираете тему, задаёте вопрос, а я анализирую карты и даю развёрнутый ответ. Все расклады проводятся бережно и с уважением к вашей энергетике.
                        Таро — это путь к осознанности!
                        Многие думают, что Таро предсказывает будущее, но на самом деле карты помогают увидеть глубинные причины происходящего и найболее вероятные пути развития событий. Это инструмент для работы с интуицией, эмоциями и выбором. Ваши решения определяют судьбу, а Таро помогает их осознать!
                    </p></div>
                </div>
            </div>
            <div class="in-osnova">
                <div>
                    <div><h3>Заголовок</h3></div>
                    <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias dolorem et repellendus! Consequatur, maxime animi quaerat corrupti exercitationem reprehenderit quas? Non fugit ut deleniti ea quam vel cumque, dolore dolorem?</p></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}<footer></footer>{% endblock %}