{% extends 'web/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1>Добро пожаловать!</h1>
    <div class="pre-osnova">
        <div class="osnova">
            <div class="in-osnova">
                <div>
                    <div><h3>Заголовок</h3></div>
                    <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias dolorem et repellendus! Consequatur, maxime animi quaerat corrupti exercitationem reprehenderit quas? Non fugit ut deleniti ea quam vel cumque, dolore dolorem?</p></div>
                </div>
            </div>
            <div class="in-osnova">
                <div>
                    <div><h3>Заголовок</h3></div>
                    <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias dolorem et repellendus! Consequatur, maxime animi quaerat corrupti exercitationem reprehenderit quas? Non fugit ut deleniti ea quam vel cumque, dolore dolorem?</p></div>
                </div>
            </div>
            <div class="in-osnova">
                <div>
                    <div><h3>Заголовок</h3></div>
                    <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias dolorem et repellendus! Consequatur, maxime animi quaerat corrupti exercitationem reprehenderit quas? Non fugit ut deleniti ea quam vel cumque, dolore dolorem?</p></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}<footer></footer>{% endblock %}