{% extends 'web/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="main-top">
            <div class="otzuv-form">
                <h1>Написать отзыв</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-block">
                        <div class="form-input">
                            {{ form.name }}
                        </div>
                        <div class="form-input">
                            {{ form.text }}
                        </div>
                        <div class="marks">
                            <div><label>Скорость ответа: </label>
                                <div>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>{{ otzuv.mark_speed }}
                            
                            <div><label>Трактовка ответа: </label>
                                <div>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>{{ otzuv.mark_trak }}

                            <div><label>Общее впечатление: </label>
                                <div>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                    <span class="star"></span>
                                </div>
                            </div>{{ otzuv.mark_all }}
                        </div>
                        {{ form.mark }}
                        <button class="form-button" type="submit">Отправить</button>
                    </div>
                    {{ error }}
                </form>
            </div>
            <div class="rating"></div>
        </div>
        <div class="main-bottom"></div>
    </div>

    <div class="otzuvu-spisok">
        {% for otzuv in otzuvu %}
            <div class="otzuv-karta">
                <div class="name-mark">
                    <div>{{ otzuv.name }}</div>
                </div>
                <div class="otzuv-text">
                    <div>{{ otzuv.text }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
