{% extends 'web/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="main-top">
            <div class="otzuv-form">
                <h1>Написать отзыв</h1>
                <form method="post">
                    <div class="form-block">
                        <div class="form-input">
                            {{ form.name }}
                        </div>
                        <div class="form-input">
                            {{ form.text }}
                        </div>
                        <div>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                            <span class="star"></span>
                        </div>
                        {{ form.mark }}
                    </div>
                </form>
            </div>
            <div class="rating"></div>
        </div>
        <div class="main-bottom"></div>
    </div>
{% endblock %}
