{% extends 'web/base.html' %}

{% block title %}Главная страница{% endblock %}

{% load static %}

{% block content %}
    <div class="main-content">
        <div class="main-top">
            <div class="otzuv-form">
                <h1>Написать отзыв</h1>
                <form method="post" id="otzuv-form">
                    {% csrf_token %}
                    <div class="form-block">
                        <div class="input--star">
                            <div class="two-input">
                                <div class="form-input">
                                    {{ form.name }}
                                </div>
                                <div class="form-input">
                                    {{ form.text }}
                                </div>
                            </div>
                            <div class="marks">
                                <div><label>Скорость ответа: </label>
                                    <div>
                                        <span class="star mark_speed" data-value="1"></span>
                                        <span class="star mark_speed" data-value="2"></span>
                                        <span class="star mark_speed" data-value="3"></span>
                                        <span class="star mark_speed" data-value="4"></span>
                                        <span class="star mark_speed" data-value="5"></span>
                                    </div>
                                </div>{{ form.mark_speed }}
                                
                                <div><label>Трактовка ответа: </label>
                                    <div>
                                        <span class="star mark_trak" data-value="1"></span>
                                        <span class="star mark_trak" data-value="2"></span>
                                        <span class="star mark_trak" data-value="3"></span>
                                        <span class="star mark_trak" data-value="4"></span>
                                        <span class="star mark_trak" data-value="5"></span>
                                    </div>
                                </div>{{ form.mark_trak }}

                                <div><label>Общее впечатление: </label>
                                    <div>
                                        <span class="star mark_all" data-value="1"></span>
                                        <span class="star mark_all" data-value="2"></span>
                                        <span class="star mark_all" data-value="3"></span>
                                        <span class="star mark_all" data-value="4"></span>
                                        <span class="star mark_all" data-value="5"></span>
                                    </div>
                                </div>{{ form.mark_all }}
                            </div>
                        </div>
                        <button class="form-button" type="submit">Отправить</button>
                    </div>
                    {{ error }}
                </form>
            </div>
            <div class="rating">
                <h1>Оценки</h1>
                <div class="avg_pole">
                    <p>Средняя оценка: 
                        <span class="star avg_mark" data-value="1"></span>
                        <span class="star avg_mark" data-value="2"></span>
                        <span class="star avg_mark" data-value="3"></span>
                        <span class="star avg_mark" data-value="4"></span>
                        <span class="star avg_mark" data-value="5"></span>
                    </p>
                </div>
                <div class="list-mark">
                    <p>1. Скорость ответа: 
                        <span class="star avg_mark_speed" data-value="1"></span>
                        <span class="star avg_mark_speed" data-value="2"></span>
                        <span class="star avg_mark_speed" data-value="3"></span>
                        <span class="star avg_mark_speed" data-value="4"></span>
                        <span class="star avg_mark_speed" data-value="5"></span>
                    </p>
                    <p>2. Трактовка ответа: 
                        <span class="star avg_mark_trak" data-value="1"></span>
                        <span class="star avg_mark_trak" data-value="2"></span>
                        <span class="star avg_mark_trak" data-value="3"></span>
                        <span class="star avg_mark_trak" data-value="4"></span>
                        <span class="star avg_mark_trak" data-value="5"></span>
                    </p>
                    <p>3. Общее впечатление: 
                        <span class="star avg_mark_all" data-value="1"></span>
                        <span class="star avg_mark_all" data-value="2"></span>
                        <span class="star avg_mark_all" data-value="3"></span>
                        <span class="star avg_mark_all" data-value="4"></span>
                        <span class="star avg_mark_all" data-value="5"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="main-bottom"></div>
    </div>

    <div class="otzuvu-spisok" id="carousel">
        {% for otzuv in otzuvu %}
            <div class="otzuv-karta">
                <div class="name-mark">
                    <div>{{ otzuv.name }}</div>
                </div>
                <div class="otzuv-text">
                    <p>{{ otzuv.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'web/js/otzuvu.js' %}"></script>
{% endblock %}
