{% extends 'web/base.html' %}

{% load static %}

{% block title %}Заказать расклад{% endblock %}

{% block content %}
<div class="rasklad-layout">
    <div class="rasklad-left">
        <h1>Заказать расклад</h1>
        <div class="forma">
        <form method="post">
            <img src="{% static 'web/img/man-photo.jpg' %}" id="person-image">
            {% csrf_token %}
            {{ form.name }}<br>
            {{ form.socset }}<br>
            {{ form.age }}<br>
            {{ form.rasklad }}<br>
            {{ form.about }}<br>
            {{ error }}
            <button class="form-button">Заказать</button>
        </form>
        </div>
    </div>
    <div class="rasklad-right"></div>
</div>
<script>
    var image = document.getElementById('person-image');
    image.addEventListener('click', () => {
        console.log(image.getAttribute('src'));
        if (image.getAttribute('src') == "{% static 'web/img/man-photo.jpg' %}"){
            image.setAttribute('src', "{% static 'web/img/woman-photo.jpg' %}");
        }   else if (image.getAttribute('src') == "{% static 'web/img/woman-photo.jpg' %}"){
            image.setAttribute('src', "{% static 'web/img/man-photo.jpg' %}");
        }
    })
</script>
{% endblock %}